body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to bottom right, #FF8000, #b7a6f8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #fff;
}